body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   background: #0A0A26;
   
}
.toggleButton {
	font-size: x-large;
	text-shadow: 2px 2px 3px rgba(0,0,0, 1);
	width: auto;
	color: #3CF;
	background-color: #009E27;
	border: 2px solid #a0a0a0;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.panelSelector {
	font-size: x-large;
	text-shadow: 2px 2px 3px rgba(0,0,0, 1);
	width: auto;
	color: #3CF;
	background-color: #009E27;
	border: 2px solid #a0a0a0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.panel {
	display: none;
/*If you want a funky panel-look
	background-color: rgba(21,21,0, 0.3);
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	max-width:800px;
	border: 1px solid #a0a0a0;
*/
}
.panelStatus {
color:green;
text-shadow: 1px 1px 3px rgba(200,200,0, 0.5);
}
.selector {
	font-size: 5ex;
	height: 15%;
	width: auto;
}
.sectionHeader {
	font-size: large;
	color: #CCC;
}
.feedback {
	height:auto;
	border: 2px solid #a0a0a0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size: large;
	color: #CCC;
}
.light_color_picker {
	position: relative;
	left:20px;
	width: 290px;
	height:190px;
	-moz-box-shadow: 0 0 10px 5px #888;
	-webkit-box-shadow: 0 0 10px 5px #888;
	box-shadow: 0 0 10px 5px #888;
	-webkit-transition: color .2s;
	border-radius: .4	em;
	background-image: url('../assets/colorpicker_bg.gif');
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


